*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
pkg/

# Berkshelf
.vagrant
cookbooks/
### Berksfile.lock
.berkshelf

# Bundler
.rvmrc
Gemfile.lock
bin
bin/**
.bundle/**
.chef/local-mode-cache/**
.chef/cache/**
**/.kitchen
.history/

provisioning/.cache
provisioning/.cache/**
.chef/clients/
.chef/*.pem
.chef/keys/
.chef/nodes/
chef.sublime-project
chef.sublime-workspace
nodes/
TODO
#Terraform
#*.tfstate
terraform/provisioning/.cache
terraform/provisioning/.cache/**
**/.terraform
.vscode/
.history/
.idea/**
.idea/
site-cookbooks/docker/
*.pyc
*/*.iml
*.iml
